<div *ngIf="user.role == 'ROLE_ADMIN'">
  <h2 class="text-center" style="margin-top: 50px">Создайте группу</h2>
  <br/>
  <input class="create-group" type="text" [(ngModel)]="group.name" placeholder="Номер группы"/>
  <button class="btn btn-outline-success" style="margin-bottom: 7px; margin-left: 1%" (click)="createGroup()"> +
  </button>
</div>
<div style="margin-bottom: 150px">
  <br/>
  <h2 class="text-center">Список групп</h2>
  <br/>
  <div *ngIf="isGroups; else noGroups">
    <div *ngFor="let group of groups; let i = index" style="margin-bottom: 10px;">
      <div *ngIf="user.role == 'ROLE_ADMIN'; else userTemplate">
        <div class="list-group-item list-item zoom" (click)="openGroup(group.id!)">
          <div style="margin: 10px 10px">
            {{group.name}}
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-danger" style="min-height: 40px; float: left; margin-left: 25px"
                  (click)="deleteGroup(group.id!)">
            Удалить группу
          </button>
        </div>
      </div>
      <ng-template #userTemplate>
        <div class="list-group-item user-list-item zoom" (click)="openGroup(group.id!)">
          <div style="margin: 10px 10px">
            {{group.name}}
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <ng-template #noGroups>
    <h4 class="text-center">Групп еще нет, создайте первую!</h4>
  </ng-template>
</div>
<br/>

